@{
    ViewBag.Title = "Areg's-MVC5-EF6-Azure-Demo";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3><br />
Note: This is a very simplistic application to demonstrate familiarity with ASP.NET MVC 5 and Azure. <br />
Also note that this app is running on a free azure web site and as such is not very performant or scalable.<br />

<h2>Biography of teachers in the list.<h2>

    <h3>Bertrand Meyer</h3>
    Author of the Eiffel programing language which introduced the concepts of design by contract and command\query separation.

    <h3>Guido van Rossum</h3>
    Author of the Python programming language which was built on the principle of writing terse yet readable code that boosts programmer productivity.

    <h3>Martin Fowler</h3>
    Author of the popular book "Patterns of Enterprise Application Architecture" known for introducing active record design pattern.

    <h3>Anders Hejlsberg</h3>
    Author of the C# and Typescript programming languages and advocate of strong typing for building maintainable large systems.

    <h3>Robert Martin</h3>
    Known for naming the SOLID principles and author of the book "Clean Code" for writing maintainable and testable code.

    <h3>Douglas Crockford</h3>
    Popularized the JSON data format, author of JSON2, jslint, jsmin and author of the popular book "Javascript the good parts".
